body {
    background: url(../assets/images/background-image/fundo-texturizado-azul.png);
    background-size: 100%;
    background-position: center;
    padding-top: 13.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: auto;
    margin: 0;
    min-height: 100vh;
}

@media (max-width: 1024px) {
    body {
        padding-top: 15.5vh;
    }
}

@media (max-width: 426px) {
    body {
        padding-top: 3vh;
    }
}

header {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand span {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 0.3em;
    color: #162C49;
}

.navbar-nav .nav-item {
    font-size: 19px;
    padding-right: 1em;
}

@media (max-width: 990px) {
    .navbar-nav .nav-item {
        margin-bottom: 0.5em;
    }
}

.navbar-nav .nav-link {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    color: #162C49;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

.container-fluid {
    padding: 1em 2em;
}


.container-fluid>div>ul>li>button {
    font-size: 19px;
    top: 15px;
}

.container-fluid>div>ul>li>button {
    font-size: 19px;
    top: 15px;
}

.modal-header>h5 {
    color: #F2F4F6;
}

.modal-header>button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.modal-header>button>svg {
    padding: 0;
    margin: 0;
}

.modal-content {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.modal-body {
    text-align: center;
    height: auto;
}

.modal-body>div>hr {
    color: #F2F4F6;
}

.modal-body>div>a {
    margin-top: 10px;
    color: #F2F4F6;
}

.modal-body>div>p {
    color: #F2F4F6;
}

.modal-body>div>p>a {
    color: #F2F4F6;
}

.container {
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    overflow: hidden;
}

/* Estilos para dispositivos menores */
@media (max-width: 426px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-top: 15.5vh;
    }
}

.imagem-esquerda {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: none;
}

.imagem-esquerda img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.detalhes-direita {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalhes-direita #product-name {
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'inter';
    font-size: 35px;
    color: #333;
}

.detalhes-direita #product-description {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #0a0b35;
}

.detalhes-direita #product-price, .product-price {
    font-weight: bold;
    font-size: 36px;
    font-family: 'inter';
}

.quantity-container {
    display: flex;
    align-items: center;

}

.quantity-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #162C49;
    color: #f2f4f6;
    font-size: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-btn:hover {
    background-color: #406280;
}

#quantity-input {
    width: 50px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
    height: 40px;
}

.botao-compra {
    width: 200px;
    margin-top: 20px;
    border: none;
    padding: 7px;
    color: #F2F4F6;
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
    transition: background-color 0.3s ease;
    border-radius: 5px;
    background-color: #162C49;
}

.botao-compra:hover {
    background-color: #406280;
}

@media (max-width: 426px) {
    .botao-compra {
        width: 100%;
    }
}